<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest 
xmlns:tools="http://schemas.android.com/tools"
xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="34" android:compileSdkVersionCodename="14" android:sharedUserId="android.uid.system" coreApp="true" package="com.android.settings" platformBuildVersionCode="34" platformBuildVersionName="14">
    <permission android:name="com.google.android.settings.routines.ROUTINES_ACTIONS"
        android:protectionLevel="privileged|signature"
        tools:replace="android:protectionLevel"/>
    <permission android:name="com.google.android.settings.future.logging.RESTRICTED_SEND_FUTURE_LOGS"
        android:protectionLevel="privileged|signature"
        tools:replace="android:protectionLevel"/>
    <permission android:name="com.google.android.settings.setup.dock.RUN_DOCK_SETUP"
        android:protectionLevel="privileged|signature"
        tools:replace="android:protectionLevel"/>
    <permission android:name="com.google.android.settings.fuelgauge.BATTERY_SETTING"
        android:protectionLevel="privileged|signature"
        tools:replace="android:protectionLevel"/>
    <permission android:name="com.google.android.settings.fuelgauge.READ_BATTERY_USAGE_DATA"
        android:protectionLevel="normal"
        tools:replace="android:protectionLevel"/>
    <permission android:name="com.google.android.settings.biometrics.face.POSTURE_GUIDANCE"
        android:protectionLevel="privileged|signature"
        tools:replace="android:protectionLevel"/>
    <uses-permission android:name="android.permission.MANAGE_GAME_MODE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.google.android.settings.routines.ROUTINES_ACTIONS"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="com.google.android.settings.intelligence.BATTERY_DATA"/>
    <uses-permission android:name="com.google.android.settings.setup.dock.RUN_DOCK_SETUP"/>
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="com.google.android.wildlife.permission.VPN_APP_EXCLUSION_LAUNCH"/>
    <uses-permission android:name="com.google.android.wildlife.permission.ADVANCED_VPN_CONFIG"/>
    <uses-permission android:name="com.google.android.apps.scone.speedboost.settings.READ_PREFERENCES"/>
    <uses-permission android:name="android.permission.MANAGE_SAFETY_CENTER"/>
    <protected-broadcast android:name="com.google.android.settings.PRE_INDEX_SEARCH"/>
    <original-package android:name="com.android.settings"/>
    <uses-permission android:name="android.permission.REQUEST_NETWORK_SCORES"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.CONTROL_UI_TRACING"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.HARDWARE_TEST"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS_PRIVILEGED"/>
    <uses-permission android:name="android.permission.QUERY_AUDIO_STATE"/>
    <uses-permission android:name="android.permission.MASTER_CLEAR"/>
    <uses-permission android:maxSdkVersion="34" android:name="com.google.android.googleapps.permission.GOOGLE_AUTH"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.android.certinstaller.INSTALL_AS_USER"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.TETHER_PRIVILEGED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.USE_ICC_AUTH_WITH_DEVICE_IDENTIFIER"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MOVE_PACKAGE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.BACKUP"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_DEVICE_CONFIG"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="android.permission.MANAGE_USB"/>
    <uses-permission android:name="android.permission.MANAGE_DEBUGGING"/>
    <uses-permission android:name="android.permission.SET_POINTER_SPEED"/>
    <uses-permission android:name="android.permission.SET_KEYBOARD_LAYOUT"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.COPY_PROTECTED_DATA"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.MANAGE_PROFILE_AND_DEVICE_OWNERS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.CONFIGURE_WIFI_DISPLAY"/>
    <uses-permission android:name="android.permission.CONFIGURE_DISPLAY_COLOR_MODE"/>
    <uses-permission android:name="android.permission.CONTROL_DISPLAY_COLOR_TRANSFORMS"/>
    <uses-permission android:name="android.permission.SUGGEST_MANUAL_TIME_AND_ZONE"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.MANAGE_DEVICE_ADMINS"/>
    <uses-permission android:name="android.permission.READ_SEARCH_INDEXABLES"/>
    <uses-permission android:name="android.permission.BIND_SETTINGS_SUGGESTIONS_SERVICE"/>
    <uses-permission android:name="android.permission.BIND_REMOTE_LOCKSCREEN_VALIDATION_SERVICE"/>
    <uses-permission android:name="android.permission.OEM_UNLOCK_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_USER_OEM_UNLOCK_STATE"/>
    <uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG"/>
    <uses-permission android:name="android.permission.RESTART_WIFI_SUBSYSTEM"/>
    <uses-permission android:name="android.permission.MANAGE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC_INTERNAL"/>
    <uses-permission android:name="android.permission.USER_ACTIVITY"/>
    <uses-permission android:name="android.permission.CHANGE_APP_IDLE_STATE"/>
    <uses-permission android:name="android.permission.PEERS_MAC_ADDRESS"/>
    <uses-permission android:name="android.permission.MANAGE_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.MANAGE_APP_OPS_RESTRICTIONS"/>
    <uses-permission android:name="android.permission.MANAGE_APP_OPS_MODES"/>
    <uses-permission android:name="android.permission.HIDE_NON_SYSTEM_OVERLAY_WINDOWS"/>
    <uses-permission android:name="android.permission.READ_PRINT_SERVICES"/>
    <uses-permission android:name="android.permission.NETWORK_SETTINGS"/>
    <uses-permission android:name="android.permission.TEST_BLACKLISTED_PASSWORD"/>
    <uses-permission android:name="android.permission.USE_RESERVED_DISK"/>
    <uses-permission android:name="android.permission.MANAGE_SCOPED_ACCESS_DIRECTORY_PERMISSIONS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.INSTALL_DYNAMIC_SYSTEM"/>
    <uses-permission android:name="android.permission.BIND_CELL_BROADCAST_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_DREAM_STATE"/>
    <uses-permission android:name="android.permission.READ_DREAM_SUPPRESSION"/>
    <uses-permission android:name="android.permission.MANAGE_APP_HIBERNATION"/>
    <uses-permission android:name="android.permission.LAUNCH_MULTI_PANE_SETTINGS_DEEP_LINK"/>
    <uses-permission android:name="android.permission.ALLOW_PLACE_IN_MULTI_PANE_SETTINGS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_APP_SPECIFIC_LOCALES"/>
    <uses-permission android:name="android.permission.QUERY_ADMIN_POLICY"/>
    <uses-permission android:name="android.permission.READ_SAFETY_CENTER_STATUS"/>
    <uses-permission android:name="android.permission.SEND_SAFETY_CENTER_UPDATE"/>
    <uses-permission android:name="android.permission.START_VIEW_APP_FEATURES"/>
    <uses-permission android:name="android.permission.LIST_ENABLED_CREDENTIAL_PROVIDERS"/>
    <uses-permission android:name="android.permission.CUSTOMIZE_SYSTEM_UI"/>
    <uses-permission android:name="android.permission.REMAP_MODIFIER_KEYS"/>
    <uses-permission android:name="android.permission.ACCESS_GPU_SERVICE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <queries>
        <intent>
            <action android:name="com.android.setupwizard.action.PARTNER_CUSTOMIZATION"/>
        </intent>
    </queries>
    <permission android:name="com.android.settings.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.android.settings.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:backupAgent="com.android.settings.backup.SettingsBackupHelper" android:defaultToDeviceProtectedStorage="true" android:directBootAware="true" android:enableOnBackInvokedCallback="true" android:extractNativeLibs="true" android:gwpAsanMode="always" android:hardwareAccelerated="true" android:icon="@drawable/ic_launcher_settings" android:label="@string/settings_label" android:name="com.google.android.settings.SettingsGoogleApplication" android:requiredForAllUsers="true" android:supportsRtl="true" android:theme="@style/Theme.Settings" android:usesCleartextTraffic="true" android:usesNonSdkApi="true">
        <uses-library android:name="org.apache.http.legacy" android:required="true"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <activity android:enabled="true" android:exported="true" android:icon="@drawable/ic_assist_gesture_suggestion" android:label="@string/columbus_gesture_training_intro_title" android:name="com.google.android.settings.gestures.columbus.ColumbusGestureTrainingIntroActivity" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light">
            <intent-filter>
                <action android:name="com.google.android.settings.COLUMBUS_GESTURE_TRAINING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.android.settings.suggested.category.COLUMBUS_GESTURE"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.title" android:resource="@string/columbus_gesture_training_intro_title"/>
            <meta-data android:name="com.android.settings.summary" android:resource="@string/columbus_gesture_training_intro_text_suw"/>
            <meta-data android:name="com.android.settings.icon_tintable" android:value="true"/>
        </activity>
        <activity android:enabled="true" android:exported="false" android:label="@string/columbus_gesture_training_enrolling_title" android:name="com.google.android.settings.gestures.columbus.ColumbusGestureTrainingEnrollingActivity" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:enabled="true" android:exported="false" android:label="@string/columbus_gesture_training_action_title" android:name="com.google.android.settings.gestures.columbus.ColumbusGestureTrainingActionActivity" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:enabled="true" android:exported="false" android:label="@string/columbus_gesture_training_launch_title" android:name="com.google.android.settings.gestures.columbus.ColumbusGestureTrainingLaunchActivity" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:enabled="true" android:exported="false" android:label="@string/columbus_gesture_training_finished_title" android:name="com.google.android.settings.gestures.columbus.ColumbusGestureTrainingFinishedActivity" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:exported="true" android:name="com.google.android.settings.gestures.columbus.ColumbusSettingsActivity">
            <intent-filter android:priority="1">
                <action android:name="com.google.android.settings.gestures.QUICK_TAP_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.google.android.settings.gestures.columbus.ColumbusSettings"/>
        </activity>
        <activity android:exported="true" android:name="com.google.android.settings.biometrics.face.FaceEnrollTrampoline" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:configChanges="density|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="true" android:name="com.google.android.settings.biometrics.face.FaceEnrollFoldPage" android:permission="com.google.android.settings.biometrics.face.POSTURE_GUIDANCE" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:exported="false" android:name="com.google.android.settings.biometrics.face.FaceEnrollEnrolling" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:exported="false" android:name="com.google.android.settings.biometrics.face.FaceEnrollParticipation" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:exported="true" android:name="com.google.android.settings.biometrics.face.FaceEnrollConfirmation" android:permission="com.google.android.settings.biometrics.face.POSTURE_GUIDANCE">
            <intent-filter>
                <action android:name="com.google.android.settings.action.CONFIRM_FACE_ENROLLMENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="com.google.android.settings.fuelgauge.reversecharging.ReverseChargingTrampoline" android:permission="android.permission.BATTERY_STATS" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:priority="1">
                <action android:name="android.settings.REVERSE_CHARGING_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:configChanges="orientation" android:documentLaunchMode="never" android:excludeFromRecents="true" android:exported="true" android:finishOnTaskLaunch="true" android:launchMode="singleInstance" android:name="com.google.android.settings.fuelgauge.reversecharging.BottomSheetActivity" android:permission="android.permission.BATTERY_STATS" android:relinquishTaskIdentity="true" android:resizeableActivity="false" android:screenOrientation="portrait" android:supportsPictureInPicture="false" android:theme="@style/BottomSheetStyle">
            <intent-filter android:priority="1">
                <action android:name="android.settings.REVERSE_CHARGING_BOTTOM_SHEET"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="com.google.android.settings.fuelgauge.reversecharging.ReverseChargingToolTrampoline" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:priority="1">
                <action android:name="com.google.android.settings.fuelgauge.REVERSE_CHARGING_TOOL_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:label="@string/security_advanced_settings" android:name="com.google.android.settings.security.SecurityAdvancedSettingsActivity" android:taskAffinity="com.android.settings.root">
            <intent-filter android:priority="1">
                <action android:name="com.google.android.settings.security.SECURITY_ADVANCED_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.android.settings.security.SecurityAdvancedSettings"/>
        </activity>
        <activity android:enabled="false" android:exported="true" android:icon="@drawable/ic_screen_saver" android:immersive="true" android:label="@string/dream_setup_title" android:name="com.google.android.settings.dream.DreamSetupActivity" android:permission="com.google.android.settings.setup.dock.RUN_DOCK_SETUP" android:theme="@style/SudThemeGlif.DayNight">
            <intent-filter>
                <action android:name="com.android.settings.action.SCREEN_SAVER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.is_supported" android:resource="@bool/dream_setup_supported"/>
            <meta-data android:name="com.android.settings.title" android:resource="@string/dream_setup_title"/>
            <meta-data android:name="com.android.settings.summary" android:resource="@string/dream_setup_description"/>
            <meta-data android:name="com.android.settings.icon_tintable" android:value="true"/>
        </activity>
        <activity android:exported="false" android:label="@string/limited_warranty_title" android:name="com.google.android.settings.warranty.WarrantyActivity">
            <intent-filter>
                <action android:name="android.settings.WARRANTY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.google.android.settings.warranty.WarrantyFragment"/>
        </activity>
        <activity android:exported="false" android:label="@string/limited_warranty_title" android:name="com.google.android.settings.warranty.WarrantyDetailsActivity">
            <intent-filter>
                <action android:name="android.settings.WARRANTY_DETAILS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.google.android.settings.warranty.WarrantyDetailsFragment"/>
        </activity>
        <activity android:exported="true" android:name="com.google.android.settings.warranty.SuwWarrantyActivity" android:theme="@style/SudThemeGlif.DayNight">
            <intent-filter>
                <action android:name="com.google.android.settings.warranty.SUW_DIGITAL_WARRANTY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:label="@string/vpn_app_bypass" android:launchMode="singleTask" android:name="com.google.android.settings.vpn2.AppBypassActivity" android:permission="com.google.android.wildlife.permission.VPN_APP_EXCLUSION_LAUNCH" android:screenOrientation="behind" android:theme="@style/VpnSettingsTheme">
            <intent-filter>
                <action android:name="com.google.android.settings.action.LAUNCH_VPN_APP_EXCLUSION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="com.google.android.settings.notification.ClearCallingSettingsActivity">
            <intent-filter>
                <action android:name="com.google.android.settings.notification.CLEAR_CALLING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.google.android.settings.notification.ClearCallingSettings"/>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:name="com.google.android.settings.vpn2.CarrierAppsBottomSheetActivity" android:screenOrientation="portrait" android:theme="@style/VpnBottomSheetStyle"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:label="@string/advanced_battery_preference_title" android:launchMode="singleTask" android:name="com.google.android.settings.fuelgauge.PowerUsageAdvancedActivity" android:permission="com.google.android.settings.intelligence.BATTERY_DATA">
            <intent-filter>
                <action android:name="com.google.android.settings.action.LAUNCH_POWER_USAGE_ADVANCED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.android.settings.fuelgauge.batteryusage.PowerUsageAdvanced"/>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.google.android.settings.retaildemo.RetailDemoLocaleUpdateActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="com.google.android.settings.action.RETAIL_DEMO_LOCALE_SETUP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:label="@string/adaptive_charging_title" android:name="com.google.android.settings.fuelgauge.adaptivecharging.AdaptiveChargingSettingsActivity" android:permission="com.google.android.settings.fuelgauge.BATTERY_SETTING"/>
        <provider android:authorities="com.google.android.settings.external" android:exported="true" android:grantUriPermissions="true" android:multiprocess="false" android:name="com.google.android.settings.external.ExternalSettingsProvider"/>
        <receiver android:exported="true" android:name="com.google.android.settings.routines.RoutinesActionBroadcastReceiver" android:permission="com.google.android.settings.routines.ROUTINES_ACTIONS">
            <intent-filter>
                <action android:name="com.google.android.settings.routines.RoutinesActionBroadcastReceiver.RINGER_MODE_SILENCE_ACTION"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.google.android.settings.fuelgauge.provider" android:exported="true" android:multiprocess="false" android:name="com.google.android.settings.fuelgauge.BatteryUsageContentProvider" android:permission="com.google.android.settings.intelligence.BATTERY_DATA"/>
        <provider android:authorities="com.android.settings.fuelgauge.provider.command" android:exported="true" android:multiprocess="false" android:name="com.google.android.settings.fuelgauge.CommandContentProvider"/>
        <provider android:authorities="com.android.settings.fuelgauge.battery_usage_state" android:exported="true" android:multiprocess="false" android:name="com.google.android.settings.fuelgauge.EnterpriseContentProvider" android:permission="com.google.android.settings.fuelgauge.READ_BATTERY_USAGE_DATA"/>
        <provider android:authorities="com.android.settings.fuelgauge.provider.adaptive_charging" android:exported="true" android:multiprocess="false" android:name="com.google.android.settings.fuelgauge.AdaptiveChargingContentProvider" android:permission="com.google.android.settings.fuelgauge.BATTERY_SETTING"/>
        <receiver android:exported="true" android:name="com.google.android.settings.fuelgauge.BatteryBroadcastReceiver" android:permission="android.permission.BLUETOOTH_CONNECT">
            <intent-filter>
                <action android:name="settings.intelligence.battery.action.FETCH_BLUETOOTH_BATTERY_DATA"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="false" android:exported="true" android:name="com.google.android.settings.fuelgauge.powermonitor.PowerMonitorBroadcastReceiver">
            <intent-filter>
                <action android:name="com.google.android.settings.action.DUMP_POWER_CONSUMPTION_DATA"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.google.android.settings.fuelgauge.powermonitor.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.google.android.settings.vpn2.AppBypassBroadcastReceiver" android:permission="com.google.android.wildlife.permission.VPN_APP_EXCLUSION_LAUNCH">
            <intent-filter>
                <action android:name="com.google.android.settings.action.REMOVE_UNINSTALLED_APP"/>
                <action android:name="com.google.android.settings.action.UPDATE_PREDEFINED_APP_EXCLUSION_LIST"/>
                <action android:name="com.google.android.settings.action.UPDATE_CARRIER_APP_LIST"/>
                <action android:name="com.google.android.settings.action.NOTIFY_PACKAGE_ADDED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.google.android.settings.vpn2.AppBypassNotificationBroadcastReceiver"/>
        <receiver android:exported="true" android:name="com.android.settings.sim.receivers.SuwFinishReceiver">
            <intent-filter>
                <action android:name="com.google.android.setupwizard.SETUP_WIZARD_FINISHED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.google.android.settings.AdvancedVpnContentProvider" android:exported="true" android:multiprocess="false" android:name="com.google.android.settings.vpn2.AdvancedVpnContentProvider" android:permission="com.google.android.wildlife.permission.ADVANCED_VPN_CONFIG"/>
        <provider android:authorities="com.android.settings.spa.search.provider" android:enabled="true" android:exported="false" android:name="com.android.settingslib.spa.search.SpaSearchProvider"/>
        <provider android:authorities="com.google.android.settings.bugreport.DumpDataContentProvider" android:exported="false" android:name="com.google.android.settings.bugreport.DumpDataContentProvider"/>
        <receiver android:exported="true" android:name="com.android.settings.fuelgauge.batteryusage.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.google.android.setupwizard.SETUP_WIZARD_FINISHED"/>
                <action android:name="com.android.settings.battery.action.PERIODIC_JOB_RECHECK"/>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>
        <activity-alias android:exported="true" android:name="com.google.android.settings.DebuggingDataActivity" android:targetActivity="com.android.settings.spa.SpaBridgeActivity">
            <intent-filter>
                <action android:name="android.settings.MANAGE_DEBUGGING_DATA_PERMISSION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.spa.DESTINATION" android:value="TogglePermissionAppList/DebuggingData"/>
            <meta-data android:name="com.android.settings.HIGHLIGHT_MENU_KEY" android:value="@string/menu_key_apps"/>
        </activity-alias>
        <activity-alias android:exported="true" android:name="com.google.android.settings.AppDebuggingDataActivity" android:targetActivity="com.android.settings.spa.SpaAppBridgeActivity">
            <intent-filter>
                <action android:name="android.settings.MANAGE_APP_DEBUGGING_DATA_PERMISSION"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="package"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.spa.DESTINATION" android:value="TogglePermissionAppInfoPage/DebuggingData"/>
            <meta-data android:name="com.android.settings.HIGHLIGHT_MENU_KEY" android:value="@string/menu_key_apps"/>
        </activity-alias>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.wifitrackerlib.WsuPostProvisioningReceiver" android:permission="android.permission.NETWORK_CARRIER_PROVISIONING">
            <intent-filter>
                <action android:name="android.net.wifi.wsu.action.WSU_POST_PROVISIONING"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
